tr {
  cursor : pointer;
}
html,body{
  padding : 0px;
  margin : 0px;
  background-color: #f2f4f6;
  width : auto;
  height : 100%;
  float : left;
  min-width : 100%;
}
*{
  font-family: 'Roboto', sans-serif;
}
.notes-table{
  text-align: left;
  font-size: 16px;
}
.history-table{
  text-align: left;
  font-size: 16px;
}

#search_results {
  border-collapse: collapse;
}
#search_results tr{
  padding : 3px 0px;
}
#search_results{
  font-size: 16px;
}

#search_results td{
  padding-right :10px;
}

.multiSelected{
  background-color : #b3c8d8 !important;
}


#search_results tr.odd{
  background-color: #e8f1f9;
}

#search_results tr:hover{
  background-color: #03a9f4 !important;
}


.history-table {
  border-collapse: collapse;
  width : 100%;
  text-align: center;
}
.history-table tr{
  padding : 3px 0px;
  vertical-align: top;
}
.history-table{
  font-size: 16px;
}

.history-table td{
  padding-right :10px;
  vertical-align: top;
}


.history-table tr.odd{
  background-color: #e8f1f9;
}

.history-table tr:hover{
  background-color: #03a9f4;
}


.notes-table {
  border-collapse: collapse;
}
.notes-table tr{
  padding : 3px 0px;
  vertical-align: top;
}
.notes-table{
  font-size: 16px;
}

.notes-table td{
  padding-right :10px;
  vertical-align: top;
}


.notes-table tr.odd{
  background-color: #e8f1f9;
}

.notes-table tr:hover{
  background-color: #03a9f4;
}




.device-item{
  box-shadow: 2px 2px 5px #888888;
}
.section{
  box-shadow: 2px 2px 5px #888888;
  margin : 20px 50px;
  box-sizing: border-box;
  padding : 15px;
  background-color: #fff
}

.device-field{
  box-sizing: border-box;
  padding : 5px;
  font-size: 16px;
  min-width : 32.7%;
  /*box-shadow: 2px 2px 5px #888888;*/
  display : inline-block;
  margin : 0px;
}

.device-field input[type=text] ,.device-field .device-label {
    padding: 5px 5px;
    font-size: 16px;
    box-sizing: border-box;
    border-style : none !important;
    cursor : pointer;
    width : auto;
    font-style: italic;;
    display : inline-block;
}

.device-field select{
    padding: 5px 5px;
    font-size: 16px;
    box-sizing: border-box;
    border-style : none !important;
    cursor : pointer;
    font-style: italic;;
}
.status{
  width  : 100%;
}

.device-field input[type=text]:hover{
  outline: none;
  background-color: #e8f1f9;
}
.device-field input[type=text]:focus{
  outline: none;
  background-color: #eeeeee;
}
h1 {
  margin : 5px 0px;
}

.section #swd{
  width : 65.8%;
}
.section #swd > input{
  width : 65.8%;
}

.section #location{
  width : 65.8%;
}
.section #location > input{
  width : 65.8%;
}

#hw_comments,#sw_comments{
  width : 100%;
}
#hw_comments >input ,#sw_comments>input {
  width : 75%;
}

.done{
  color : #4db351;
}
.not_done{
  color : red;
}
.firmware_update,.operating_system_update,.testing{
  color : #e0aa5d;
}

.checkboxDiv{
  display : inline-block;
}


.urgent{
  color : red;
  background-color : black !important;
}
.search_div{
  display : inline-block;
  width : auto;
  margin : 5px;
  box-sizing: border-box;
}

.search_panel{
  box-sizing: border-box;
  padding : 15px;
  margin : 15px;
  box-shadow: 2px 2px 5px #888888;
  background-color: #fff;
}

.device-field .fa.fa-times{
  color : black;
  font-weight: 100;
  height : 100%;
  width : 20px;
  text-align: center;
  cursor: pointer;
}

#side_panel,#content{
    display : inline-block;
    height : 100%;
    width : 100%;
    top : 0px;
    position: relative;
    box-sizing: border-box;
}
#image-preview{
  margin : 20px auto;
  max-width : 500px;
  max-height : 500px;
}
#image-preview img{
  max-width : 500px;
  max-height : 500px;
}
#previous-images img{
  max-width : 100%;
  display : block;
  margin : 20px auto;
}
.pane-container{
  margin: 0px auto;
}
.pane{
  display : inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding : 15px;
  margin : 15px;
  background-color: #fff;
}


#side_panel{
  width : 100%;
  height : 50px;
  box-sizing: border-box;
  position : fixed;
  background-color : #444444;
  z-index: 2;
  vertical-align: middle;
  color : white;

}
#content{
  padding-top : 50px;
  height : 100%;
  box-sizing: border-box;
  float : left;
  height : 100%
}

.menu-buttons{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width : auto;
    display : inline-block;
    position : absolute;
    height : 100%;
    vertical-align: middle;
}

.menu-buttons li{
  height : 100%;
  margin-bottom: 0px;
  display :inline-block;
  line-height : 50px;
  margin : 0px 10px;
  cursor : pointer;
}
.menu-buttons div{
  display: inline-block;
  margin: 0px 10px;
}

#app-menu{
  top : 0px;
  right : 0px;
}
#context-menu{
  top : 0px;
  left : 0px;
}


.calendar{
  width : 250px;
  border-style: solid;
  border-width: 1px;
  position : absolute;
  background-color : white;
  z-index: 110;
}


.calendar table{
  width : 100%;
  height : 100%;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
  margin : 0px;
}
.calendar th,.calendar td{
  text-align: center;
  box-sizing: border-box;
  margin : 0px;
  width : 30px;
  height : 30px;
}
.calendar td:hover{
  background-color: green;
  margin : 0px;
}

.calendar #controls{
  text-align: center;
  padding : 0px auto;
}
.calendar .today{
  background-color: orange;
}
.calendar .selected{
  background-color: blue;
}
.calendar .today:hover{
  background-color: yellow;
}
.calendar .selected:hover{
  background-color: brown;
}
.docInfo{
  height : auto;
  margin : 5px 50px;
  box-sizing: border-box;
  font-size: 12px;
  font-style: italic;
}

.modal,.alert,.popup{
  width : 100%;
  height : 100%;
  position : fixed;
  background-color: rgba(0, 0, 0, 0.1);
  top : 0px;
  left : 0px;
  z-index: 100;
  font-size : 14px;
  overflow : auto;
}

.midcenter{
  width : 250px;
  margin : 250px auto;
  vertical-align: middle;
  text-align: center;
}
.midcenter button{
  display : inline-block;
}
.midcenter .b1{
  float : left;
}
.midcenter .b2{
  float : right;
}

.popup  textarea{
  margin : 20px auto;
  width : 100%;
  height : 250px;
  display : block;
}

.popup input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  text-align: center;
}

.popup > .popup-content{
  background-color: white;
  max-width : 850px;
  top : 100px;
  position : relative;
  margin : 0px auto;
  box-shadow: 4px 4px 5px #888888;
  text-align: center;
  padding : 25px;
  box-sizing: border-box;

}
.alert > .alert-content{
  max-width : 80% !important;
}

.modal > .modal-content,.alert > .alert-content{
  background-color: white;
  max-width : 300px;
  top : 100px;
  position : relative;
  margin : 0px auto;
  box-shadow: 4px 4px 5px #888888;
  text-align: center;
  padding : 25px;
  box-sizing: border-box;
}

.modal #button-group,.alert #button-group,.popup #button-group{
  top : 75%;
  position : relative;
}
.modal button, .alert button,.popup button{
  margin : 20px 20px 0px 20px;
}

.notification{
  width : 100%;
  height : 50px;
  text-align: center;
  display : table;
  background-color : mediumseagreen;
  position: fixed;
  bottom : 0px;
  color : white;
}
.notification > div{
  display : table-cell;
  vertical-align: middle;
}
.type-heads-up{
  background-color : #e0aa5d !important;
}
.type-success{
  background-color : seagreen !important;
}
.type-error{
  background-color : darkred !important;
}
.warning{
  color : #e0aa5d !important;
}
.success{
  color : seagreen !important;
}
.error{
  color : darkred !important;
}
#transitmap {
  width : 100%;
  height : 100%;
  position : relative;
  box-sizing: border-box;
}
.infowindow{
  padding : 10px;
  box-sizing: border-box;
}
.infowindow table{
  border-collapse: collapse;
}
.infowindow tr:hover{
  background-color: lightblue !important;
}
.infowindow tr td{
  padding : 5px;
  box-sizing: border-box;
  font-weight: bold;
}
.infowindow h3:hover{
  font-weight: bold;
}
.infowindow h3{
  cursor : pointer;
  font-weight : 400;
  padding : 5px;
}