tr {
  cursor : pointer;
}
html,body{
  padding : 0px;
  margin : 0px;
  background-color: #f2f4f6;
  width : 100%;
  height : 100%;
}
*{
  font-family: 'Roboto', sans-serif;
}
#search_results tr{
  padding : 3px 0px;
}
#search_results{
  font-size: 16px;
}

#search_results td{
  padding-right :10px;
}


#search_results tr.odd{
  background-color: #e8f1f9;
}

#search_results tr:hover{
  background-color: #03a9f4;
}
.device-item{
  box-shadow: 2px 2px 5px #888888;
}
.section{
  box-shadow: 2px 2px 5px #888888;
  margin : 20px 50px;
  box-sizing: border-box;
  padding : 15px;
  background-color: #fff
}

.device-field{
  box-sizing: border-box;
  padding : 5px;
  font-size: 16px;
  min-width : 32.7%;
  /*box-shadow: 2px 2px 5px #888888;*/
  display : inline-block;
  margin : 0px;
}

.device-field input[type=text] ,.device-field .device-label {
    padding: 5px 5px;
    font-size: 16px;
    box-sizing: border-box;
    border-style : none !important;
    cursor : pointer;
    width : auto;
    font-style: italic;;
    display : inline-block;
}

.device-field select{
    padding: 5px 5px;
    font-size: 16px;
    box-sizing: border-box;
    border-style : none !important;
    cursor : pointer;
    font-style: italic;;
}
.status{
  width  : 100%;
}

.device-field input[type=text]:hover{
  outline: none;
  background-color: #e8f1f9;
}
.device-field input[type=text]:focus{
  outline: none;
  background-color: #eeeeee;
}
h1 {
  margin : 5px 0px;
}

#swd{
  width : 65.8%;
}
#swd > input{
  width : 65.8%;
}

#location{
  width : 65.8%;
}
#location > input{
  width : 65.8%;
}

#hw_comments,#sw_comments{
  width : 100%;
}
#hw_comments >input ,#sw_comments>input {
  width : 75%;
}

.done{
  color : #4db351;
}
.not_done{
  color : red;
}
.firmware_update,.operating_system_update,.testing{
  color : #e0aa5d;
}

.search_div{
  display : inline-block;
  width : auto;
  margin : 5px;
  box-sizing: border-box;
}

.search_panel{
  box-sizing: border-box;
  padding : 15px;
  margin : 15px;
  box-shadow: 2px 2px 5px #888888;
  background-color: #fff;
}

#side_panel,#content{
    display : inline-block;
    height : 100%;
    top : 0px;
    position: relative;
}

#side_panel{
  width : 50px;
  box-sizing: border-box;
  position : fixed;
  background-color : #444444;
  padding : 5px;
}
#content{
  margin-left : 50px;
}

#side_panel button{
  width : 40px;
  height : 40px;
  margin-bottom: 5px;
}

.calendar{
  width : 250px;
  border-style: solid;
  border-width: 1px;
  position : absolute;
  background-color : white;
}


.calendar table{
  width : 100%;
  height : 100%;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
  margin : 0px;
}
.calendar th,.calendar td{
  text-align: center;
  box-sizing: border-box;
  margin : 0px;
  width : 30px;
  height : 30px;
}
.calendar td:hover{
  background-color: green;
  margin : 0px;
}

.calendar #controls{
  text-align: center;
  padding : 0px auto;
}
.calendar .today{
  background-color: orange;
}
.calendar .selected{
  background-color: blue;
}
.calendar .today:hover{
  background-color: yellow;
}
.calendar .selected:hover{
  background-color: brown;
}
