<template name = "dashboard">
    {{#if isMenu "dashboard"}}
        {{> dashboardPanel}}
        {{> mapDisplay options=mapOptions}}
    {{/if}}
</template>

<template name = "dashboardPanel">
    <div id = "dashboardPanel">
        <div class = "padded-container-small">
            {{#with dashboardDevice "agency" getAgency}}
                {{> dashboardAgency}}
            {{/with}}
        </div>
        <div class = "padded-container-small">
            {{#with dashboardDevice "sub_agency" getSubagency}}
                {{> dashboardAgency}}
            {{/with}}
        </div>
        <div class = "padded-container-small">
            {{#with dashboardDevice "station_name" station_name}}
                {{> dashboardAgency}}
            {{/with}}
            
            {{displayInfo}}
        </div>
    </div>
</template>





<template name = "progressTable">
    {{debug this}}
    <table>
        <tr>
            <th>Total</th>
            {{#each headers}}
                <th>{{toDate this}}</th>
            {{/each}}
        </tr>
        {{#each data}}
            <tr>
                <td>{{cabling_start.total}}</td>
                {{#each cabling_start.data}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
            <tr>
                <td>{{cabling_end.total}}</td>
                {{#each cabling_end.data}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
            <tr>
                <td>{{equipment_installation_start.total}}</td>
                {{#each equipment_installation_start.data}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
            <tr>
                <td>{{equipment_installation_end.total}}</td>
                {{#each equipment_installation_end.data}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
            <tr>
                <td>{{ic_confirm.total}}</td>
                {{#each ic_confirm.data}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
        {{/each}}


    </table>
</template>







<template name = "dashboardAgency"> 
    <h1>{{agency}}</h1>
    {{#each data}}
        <div><b>{{name}} : {{total}}</b></div>
        &emsp;Installation : <span style="color : rgb({{severity hw_done_per}})">{{hw_done}}</span>/<span style="color : rgb({{severity sw_done_per}})">{{sw_done}}</span>&nbsp;&nbsp;(<span style="color : rgb({{severity hw_done_per}})">{{hw_done_per}}%</span>/<span style="color : rgb({{severity sw_done_per}})">{{sw_done_per}}%</span>)<br />
        &emsp;Errors : <span style="color : rgb({{severity hw_errors_per}})">{{hw_errors}}</span>/<span style="color : rgb({{severity sw_errors_per}})">{{sw_errors}}</span>&nbsp;&nbsp;(<span style="color : rgb({{severity hw_errors_per}})">{{hw_errors_per}}%</span>/<span style="color : rgb({{severity sw_errors_per}})">{{sw_errors_per}}%</span>)
        <br />
    {{/each}}
</template>







<template name = "dashboardGeneral"> 
    <h1>{{title}}</h1>
    <div>
        Done : {{completed}}/{{total}} ({{totalpercent}}%)
    </div>
    <div>
        Total Errors : {{total_error}}
        <br />&nbsp;&nbsp;&nbsp;&nbsp;Software : {{sw_error}} ({{total_sw_error_percent}}%)
        <br />&nbsp;&nbsp;&nbsp;&nbsp;Hardware : {{hw_error}} ({{total_hw_error_percent}}%)
    </div>
    <div>
        <br />
        {{#each makeArray sw_status}}
            {{#if isFieldSet key}}
                <div>{{key }} : {{value.val}} ({{value.percent}} %)</div>
            {{/if}}
        {{/each}}
        Not set : {{sw_notset}} ({{sw_notset_percent}}%)
    </div>

    <div>
        <br />
        {{#each makeArray hw_status}}
            {{#if isFieldSet key}}
                <div>{{key }} : {{value.val}} ({{value.percent}} %)</div>
            {{/if}}
        {{/each}}
        Not set : {{hw_notset}} ({{hw_notset_percent }}%)
    </div>
</template>