
<template name = "device">
  {{#with device}}
    {{#if history}}
      {{> history}}
    {{/if}}
    {{#if notes}}
      {{> notes}}
    {{/if}}
    {{#if install_image}}
      {{> install_image}}
    {{/if}}
    {{#if popup}}
      {{> popup}}
    {{/if}}
    <div class = "docInfo">Created : {{dateTime createdAt}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Edited : {{dateTime updatedAt}} &nbsp;by &nbsp;<b>{{updatedFrom}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Registered : {{dateTime register_date}}</div>
    <div class = "section">
      <h1>Hardware</h1>
      {{> device_field toObject "hw_status" this}}
      <br>
      {{> device_field toObject "urgent" this}}
      {{> device_field toObject "device_type" this}}
      {{> device_field toObject "hw_id" this}}
      {{> device_field toObject "device_id" this}}
      {{> device_field toObject "lsam_id" this}}
      {{> device_field toObject "label" this}}
      {{> device_field toObject "sam_tracking" this}}
      <br>
      {{> device_field toObject "hw_comments" this}}
      {{> device_field toObject "hw_error" this}}
      {{> device_field toObject "nfc_key" this}}
    </div>
    <div class = "section">
      <h1>Software</h1>
      {{> device_field toObject "sw_status" this}}
      <br>
      {{> device_field toObject "sw_version" this}}
      {{> device_field toObject "service_id" this}}
      {{> device_field toObject "feeset_id" this}}
      {{> device_field toObject "firmware_type" this}}
      {{> device_field toObject "status_of_installation" this}}
      <br>
      {{> device_field toObject "sw_comments" this}}
      {{> device_field toObject "sw_error" this}}
    </div>

    <div class = "section">
      <h1>Agency</h1>
      {{> device_field toObject "agent_id" this}}
      {{> device_field toObject "agency" this}}
      {{> device_field toObject "sub_agency" this}}
      {{> device_field toObject "supervisor" this}}
      {{> device_field toObject "hp_number" this}}
      {{> device_field toObject "operator_name" this}}
      {{> device_field toObject "operator_id" this}}
      {{> device_field toObject "operator_card" this}}
    </div>
    <div class = "section">
      <h1>Location</h1>
      {{> device_field toObject "install_date" this}}
      {{> device_field toObject "schedule_date" this}}
      {{> device_field toObject "line" this}}
      {{populateStations}}
      {{> device_field toObject "station_id" this}}
      {{> device_field toObject "station_name" this}}
      {{> device_field toObject "location" this}}
    </div>
    <div class = "section">
      <h1>Network <button id = "configs">Configs (Beta)</button><button id = "configs-3g">Configs 3G (Beta)</button><input type = "number" id="ip-3g"></h1>
      {{> device_field toObject "ip" this}}
      {{> device_field toObject "subnet" this}}
      {{> device_field toObject "gateway" this}}
      {{> device_field toObject "ntp" this}}
      {{> device_field toObject "dns1" this}}
      {{> device_field toObject "dns2" this}}
      {{> device_field toObject "host1" this}}
      {{> device_field toObject "host2" this}}
      {{> device_field toObject "host3" this}}
      {{> device_field toObject "swd" this}}
    </div>
  {{/with}}
</template>

<template name = "device_field">
  <div class = "device-field" id="{{name}}">
    {{> Template.dynamic template=(field_type name) }}
  </div>
</template>

<template name = "confirm">
  <div class = "modal">
    <div class ="modal-content">
      <label>{{{message}}}</label>

      <div id = "button-group">
        <button id = "yes">Yes</button>
        <button id = "no">No</button>
      </div>
    </div>
  </div>
  {{focus}}
</template>

<template name = "popup">

    <div class = "popup">
      <div class ="popup-content">
        <h1>Note Details</h1>
        <br />
        <input type="hidden" class = "date-input" value="{{value}}"/>
        <input readonly class="noborder datepicker" id = "history-date" type="text"/>
        <textarea id = "history-info"></textarea>
        <div id = "button-group">
          <button id = "yes">Save</button>
          <button id = "no">Cancel</button>
        </div>
      </div>
    </div>
  {{focus}}
</template>

<template name = "alert">
  <div class = "alert">
    <div class ="alert-content">
      <div>{{{message}}}</div>
      <div id = "button-group">
        <button id = "ok">OK</button>
      </div>
    </div>
  </div>
  {{focus}}
</template>

<template name = "notes">
  <div class = "alert">
    <div class ="alert-content">
      <h2>Notes</h2>
      <table class = "notes-table">
        {{#each reverse this.history}}
        <tr class = "{{evenrow @index}}"><td><b>{{user}}</b></td><td>&nbsp;&nbsp;&nbsp;<b>{{toDate2 date}}</b></td><td>&nbsp;&nbsp;&nbsp;{{value}}</td></tr>
        {{/each}}
      </table>
      <div id = "button-group">
        <button id = "ok">OK</button><button id="createNote">Create Note</button>
      </div>
    </div>
  </div>
  {{focus}}
</template>

<template name = "install_image">
  <div class = "alert">
    <div class ="alert-content">
      <h2>Install Image</h2>
      <input type="file" id="image" name="image" accept="image/*">
      <div id = "image-preview"></div>
      <div id = "button-group">
        <button id="upload">Upload</button>
        <button id = "ok">Back</button>
      </div>
      
      <div id = "previous-images">{{getImages}}</div>
    </div>
  </div>
  {{focus}}
</template>

<template name = "history">
  <div class = "alert">
    <div class ="alert-content">
      <h2>Change History</h2>
      <table class = "history-table">
        {{#each getChangeHistory this._id}}
        <tr><th>{{user}}&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;{{toDate2 date}}</th></tr>
          {{#each keys data}}
            <tr><td>{{key}}&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;{{from}}  &rarr;  {{to}}</td></tr>
          {{/each}}
        {{/each}}
      </table>
      <div id = "button-group">
        <button id = "ok">OK</button>
      </div>
    </div>
  </div>
  {{focus}}
</template>
