
<template name = "search_bar">

  <div class = "search_panel">
    <div class = "search_div">
      <label>Hardware Id</label>
      <input class = "search_input" type = "text" id = "s_hwid" value = "{{fromSession 's_hwid'}}">
    </div>
    <div class = "search_div">
      <label>Device Id</label>
      <input class = "search_input"  type = "text" id = "s_deid" value = "{{fromSession 's_deid'}}">
    </div>
    <div class = "search_div">
      <label>Service Account Id</label>
      <input class = "search_input"  type = "text" id = "s_said" value = "{{fromSession 's_said'}}">
    </div>
    <div class = "search_div">
      <label>LSAM Id</label>
      <input class = "search_input"  type = "text" id = "s_lsam" value = "{{fromSession 's_lsam'}}">
    </div>
    <div class = "search_div">
      <label>Device Type</label>
      <select class = "search_input" id = "s_device_type">
        <option></option>
        <option {{selected_type "ACIM" }} value  = "ACIM">ACIM</option>
        <option {{selected_type "TIT" }} value = "TIT">TIT</option>
        <option {{selected_type "CIT" }} value = "CIT">CIT</option>
        <option {{selected_type "PCRS" }} value = "PCRS">PCRS</option>
        <option {{selected_type "PCRS for TIT" }} value = "PCRS for TIT">PCRS for TIT</option>
        <option {{selected_type "PCRS for CIT" }} value = "PCRS for CIT">PCRS for CIT</option>
        <option {{selected_type "PSCCS" }} value = "PSCCS">PSCCS</option>
        <option {{selected_type "OVMC" }} value = "OVMC">OVMC</option>
      </select>
    </div>
    <div class = "search_div">
      <label>Agency</label>
      <select class = "search_input" id = "s_agency">
        <option></option>
        <option {{selected_agency "OASA" }} value = "OASA">OASA</option>
        <option {{selected_agency "STASY" }} value = "STASY">STASY</option>
        <option {{selected_agency "OSY" }} value = "OSY">OSY</option>
        <option {{selected_agency "TRAINOSE" }} value = "TRAINOSE">TRAINOSE</option>
      </select>
    </div>
    <div class = "search_div">
      <label>Sub-Agency</label>
      <select class = "search_input" id = "s_sub_agency">
        <option></option>
        <option {{selected_type "Tram" }} value  = "Tram">Tram</option>
        <option {{selected_type "Metro" }} value = "Metro">Metro</option>
        <option {{selected_type "Suburban" }} value = "Suburban">Suburban</option>
        <option {{selected_type "Bus" }} value = "Bus">Bus</option>
      </select>
    </div>
    <div class = "search_div">
      <label>Station</label>
      <input class = "search_input"  type = "text" id = "s_station_name" value = "{{fromSession 's_station_name'}}">
    </div>
    <div class = "search_div">
      <label>Hardware Status</label>
      <select class = "search_input" id = "s_hw_status">
        <option></option>
        <option {{selected_hw_status "Not Done" }} value = "Not Done">Not Done</option>
        <option {{selected_hw_status "Done" }} value = "Done">Done</option>
      </select>
    </div>
    <div class = "search_div">
      <label>Installation Status</label>
      <select class = "search_input" id = "s_sw_status">
        <option></option>
        <option {{selected_sw_status "Operating System Update" }} value = "Operating System Update">Operating System Update</option>
        <option {{selected_sw_status "Firmware Update" }} value = "Firmware Update">Firmware Update</option>
        <option {{selected_sw_status "Testing" }} value = "Testing">Testing</option>
        <option {{selected_sw_status "Done" }} value = "Done">Done</option>
      </select>
    </div>
    <div class = "search_div">
      <label>Software Version</label>
      <input class = "search_input"  type = "text" id = "s_sw_version" value = "{{fromSession 's_sw_version'}}">
    </div>
    <div class = "search_div">
      <label>Urgent</label>
      <input class = "search_input"  type = "checkbox" id = "s_urgent" {{isCheckedSession 's_urgent'}}>
    </div>
    <div class = "search_div">
      <label>Error</label>
      <input class = "search_input"  type = "checkbox" id = "s_error" {{isCheckedSession 's_error'}}>
    </div>
    <br>
    <div class = "search_div">
      <label>Install Date</label>
      <input id = "search_install_date" class = "showbox" type = "checkbox" {{isCheckedSession 'search_install_date'}}>
      <div id = "install_date_div" class = "checkboxDiv">
        {{#if isCheckedSessionB "search_install_date"}}
          {{> searchDate "from_install_date"}}
          {{> searchDate "untl_install_date"}}
        {{/if}}
      </div>
    </div>
    <br>
    <div class = "search_div">
      <label>Schedule Date</label>
      <input id = "search_schedule_date" class = "showbox" type = "checkbox" {{isCheckedSession 'search_schedule_date'}}>
      <div id = "schedule_date_div" class = "checkboxDiv">
        {{#if isCheckedSessionB "search_schedule_date"}}
          {{> searchDate "from_schedule_date"}}
          {{> searchDate "untl_schedule_date"}}
        {{/if}}
      </div>
    </div>
    <br>
    <div class = "search_div">
      <label>Register Date</label>
      <input id = "search_register_date" class = "showbox" type = "checkbox" {{isCheckedSession 'search_register_date'}}>
      <div id = "register_date_div" class = "checkboxDiv">
        {{#if isCheckedSessionB "search_register_date"}}
          {{> searchDate "from_register_date"}}
          {{> searchDate "untl_register_date"}}
        {{/if}}
      </div>
    </div>
    <br />
    <button id="clear-button">Clear</button>
  </div>
</template>


<template name = "search_results">
  {{#with results}}
    {{save}}
    <div class = "docInfo">Count : {{count this}} &nbsp;&nbsp;&nbsp;Selected Count : {{multiSelectedCount}}&nbsp;&nbsp;</div>
    <div class = "search_panel">
      <table id = "search_results" width = "100%">
        <tr>
          {{#if displayColumn "no"}}<th class = "sort" id = "sort_no">No</th>{{/if}}
          {{#if displayColumn "device_type"}}<th class = "sort" id = "sort_device_type">Device Type</th>{{/if}}
          {{#if displayColumn "updatedAt"}}<th class = "sort" id = "sort_updatedAt">Last Update</th>{{/if}}
          {{#if displayColumn "updatedFrom"}}<th class = "sort" id = "sort_updatedFrom">By</th>{{/if}}
          {{#if displayColumn "install_date"}}<th class = "sort" id = "sort_install_date">Install Date</th>{{/if}}
          {{#if displayColumn "schedule_date"}}<th class = "sort" id = "sort_schedule_date">Schedule Date</th>{{/if}}
          {{#if displayColumn "register_date"}}<th class = "sort" id = "sort_register_date">Register Date</th>{{/if}}
          {{#if displayColumn "agency"}}<th class = "sort" id = "sort_agency">Agency</th>{{/if}}
          {{#if displayColumn "hw_id"}}<th class = "sort" id = "sort_hw_id">Hardware ID</th>{{/if}}
          {{#if displayColumn "device_id"}}<th class = "sort" id = "sort_device_id">Device ID</th>{{/if}}
          {{#if displayColumn "service_id"}}<th class = "sort" id = "sort_service_id">Service Account ID</th>{{/if}}
          {{#if displayColumn "lsam_id"}}<th class = "sort" id = "sort_lsam_id">LSAM ID</th>{{/if}}
          {{#if displayColumn "sub_agency"}}<th class = "sort" id = "sort_sub_agency">Sub-Agency</th>{{/if}}
          {{#if displayColumn "station_name"}}<th class = "sort" id = "sort_station_name">Location</th>{{/if}}
          {{#if displayColumn "sam_tracking"}}<th class = "sort" id = "sort_sam_tracking">SAM Location</th>{{/if}}
          {{#if displayColumn "hw_status"}}<th class = "sort" id = "sort_hw_status">H/W Status</th>{{/if}}
          {{#if displayColumn "sw_status"}}<th class = "sort" id = "sort_sw_status">S/W Status</th>{{/if}}
          {{#if displayColumn "sw_version"}}<th class = "sort" id = "sort_sw_version">S/W Ver.</th>{{/if}}
          {{#if displayColumn "ip"}}<th class = "sort" id = "sort_ip">IP</th>{{/if}}
          {{#if displayColumn "gateway"}}<th class = "sort" id = "sort_gateway">Gateway</th>{{/if}}
        </tr>
        <br>
        {{#each this}}
          <tr class = "device_item {{evenrow @index}} {{isUrgent}} {{isMultiSelected}}" >
            {{#if displayColumn "no"}}<td>{{@index}}</td>{{/if}}
            {{#if displayColumn "device_type"}}<td>{{device_type}}</td>{{/if}}
            {{#if displayColumn "updatedAt"}}<td>{{toDate2 updatedAt}}</td>{{/if}}
            {{#if displayColumn "updatedFrom"}}<td>{{updatedFrom}}</td>{{/if}}
            {{#if displayColumn "install_date"}}<td>{{toDate install_date}}</td>{{/if}}
            {{#if displayColumn "schedule_date"}}<td>{{toDate schedule_date}}</td>{{/if}}
            {{#if displayColumn "register_date"}}<td>{{toDate register_date}}</td>{{/if}}
            {{#if displayColumn "agency"}}<td>{{agency}}</td>{{/if}}
            {{#if displayColumn "hw_id"}}<td>{{hw_id}}</td>{{/if}}
            {{#if displayColumn "device_id"}}<td>{{device_id}}</td>{{/if}}
            {{#if displayColumn "service_id"}}<td>{{service_id}}</td>{{/if}}
            {{#if displayColumn "lsam_id"}}<td>{{lsam_id}}</td>{{/if}}
            {{#if displayColumn "sub_agency"}}<td>{{sub_agency}}</td>{{/if}}
            {{#if displayColumn "station_name"}}<td>{{station_name}}</td>{{/if}}
            {{#if displayColumn "sam_tracking"}}<td>{{sam_tracking}}</td>{{/if}}
            {{#if displayColumn "hw_status"}}<td class = "{{lower hw_status}}">{{hw_status}}</td>{{/if}}
            {{#if displayColumn "sw_status"}}<td class = "{{lower sw_status}}">{{sw_status}}</td>{{/if}}
            {{#if displayColumn "sw_version"}}<td>{{sw_version}}</td>{{/if}}
            {{#if displayColumn "ip"}}<td>{{ip}}</td>{{/if}}
            {{#if displayColumn "gateway"}}<td>{{gateway}}</td>{{/if}}
          </tr>
        {{/each}}
      </table>
    </div>
  {{/with}}
</template>

<template name = "search_side_panel">
  {{#if isMenu "search"}}
    {{#with device}}
      <li id = "back">Back</li>
      <li id = "save">Save</li>
      <li id = "reset">Reset</li>
      {{#unless this.new}}
        <li id = "copy">Copy</li>
      {{/unless}}
      {{#unless this.new}}
        <li id = "delete">Delete</li>
      {{/unless}}
      {{#unless this.new}}
        <li id = "notes">Notes</li>
      {{/unless}}
      {{#unless this.new}}
        <li id = "history">History</li>
      {{/unless}}

    {{/with}}
    {{#unless device}}
      <li id = "new_acim">New</li>
      {{#with results}}
        <li id = "download">Download Excel</li>
        <li id = "generate">Generate</li>
        <li id = "generate3g">Generate 3G</li>
      {{/with}}
    {{/unless}}
  {{/if}}
</template>

<template name = "search">
  {{#if isMenu "search"}}
    {{#if selected_device}}
      {{> device}}
    {{else}}
      {{> search_bar}}
      {{> search_results}}
    {{/if}}
  {{/if}}
</template>

<template name="searchDate">
  <input type="hidden" id = "s_{{this}}" class = "search_input" value="{{fromSessionP this}}"/>
  <input readonly class="datepicker" id = "date_{{this}}" type="text"/>
</template>


<template name = "settings">
  {{#if settings}}
  <div class = "alert">
    <div class ="alert-content">
      <h2>Settings</h2>
        <div class = "pane-container">
          <div class = "pane">
            <h4> Column Display</h4>
            <table>
              <tr><td><label for = "device_type">Device Type </label></td><td><input type = "checkbox" id="device_type" {{isVisible "device_type"}}/></td></tr>
              <tr><td><label for = "updatedAt">updatedAt </label></td><td><input type = "checkbox" id="updatedAt" {{isVisible "updatedAt"}}/></td></tr>
              <tr><td><label for = "no">No </label></td><td><input type = "checkbox" id="no" {{isVisible "no"}}/></td></tr>
              <tr><td><label for = "updatedFrom">updatedFrom </label></td><td><input type = "checkbox" id="updatedFrom" {{isVisible "updatedFrom"}}/></td></tr>
              <tr><td><label for = "install_date">install_date </label></td><td><input type = "checkbox" id="install_date" {{isVisible "install_date"}}/></td></tr>
              <tr><td><label for = "schedule_date">schedule_date </label></td><td><input type = "checkbox" id="schedule_date" {{isVisible "schedule_date"}}/></td></tr>
              <tr><td><label for = "register_date">register_date </label></td><td><input type = "checkbox" id="register_date" {{isVisible "register_date"}}/></td></tr>
              <tr><td><label for = "agency">agency </label></td><td><input type = "checkbox" id="agency" {{isVisible "agency"}}/></td></tr>
              <tr><td><label for = "sub_agency">sub_agency </label></td><td><input type = "checkbox" id="sub_agency" {{isVisible "sub_agency"}}/></td></tr>
              <tr><td><label for = "hw_id">hw_id </label></td><td><input type = "checkbox" id="hw_id" {{isVisible "hw_id"}}/></td></tr>
              <tr><td><label for = "service_id">service_id </label></td><td><input type = "checkbox" id="service_id" {{isVisible "service_id"}}/></td></tr>
              <tr><td><label for = "device_id">device_id </label></td><td><input type = "checkbox" id="device_id" {{isVisible "device_id"}}/></td></tr>
              <tr><td><label for = "lsam_id">lsam_id </label></td><td><input type = "checkbox" id="lsam_id" {{isVisible "lsam_id"}}/></td></tr>
              <tr><td><label for = "station_name">station_name </label></td><td><input type = "checkbox" id="station_name" {{isVisible "station_name"}}/></td></tr>
              <tr><td><label for = "sam_tracking">sam_tracking </label></td><td><input type = "checkbox" id="sam_tracking" {{isVisible "sam_tracking"}}/></td></tr>
              <tr><td><label for = "hw_status">hw_status </label></td><td><input type = "checkbox" id="hw_status" {{isVisible "hw_status"}}/></td></tr>
              <tr><td><label for = "sw_status">sw_status </label></td><td><input type = "checkbox" id="sw_status" {{isVisible "sw_status"}}/></td></tr>
              <tr><td><label for = "ip">ip </label></td><td><input type = "checkbox" id="ip" {{isVisible "ip"}}/></td></tr>
              <tr><td><label for = "sw_version">SW Version </label></td><td><input type = "checkbox" id="sw_version" {{isVisible "sw_version"}}/></td></tr>
              <tr><td><label for = "gateway">gateway </label></td><td><input type = "checkbox" id="gateway" {{isVisible "gateway"}}/></td></tr>
            </table>
          </div>
          <div class = "pane">
            <h4>Network</h4>
            <table>
              <tr><td><label for = "3g_subnet">3G Subnet </label></td><td><input type = "text" id="3g_subnet" value='{{getConfig "3g_subnet"}}'/></td></tr>
            </table>
          </div>
          
        </div>
      <div id = "button-group">
        <button id = "ok">OK</button>
      </div>
    </div>
  </div>
  {{focus}}

  {{/if}}
</template>
